<div class="card m-5">
  <h3 class="card-header">New Post</h3>
  <form class="comment-form">
    <div class="form-group m-3">
      <label for="blogpost-title">Blog Post Title</label>
      <input type="text" id="blogpost-title" class="form-control" />
      <label for="blogpost-body">Blog Post Body</label>
      <input type="text" id="blogpost-body" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary m-3 postBtn">Submit Post</button>
  </form>
</div>

<script src="/js/addBlogPost.js"></script>